In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataset_list = ['MUTAG','PTC_MR','ENZYMES','PROTEINS']
method_list = ['HKS','WKS']
column_list = ['dataset','method','C','gamma','w','sinkhorn','acc','std']

In [3]:
data = []
for dataset in dataset_list:
    for method in method_list:
        Path = './results/'+dataset+'/'+method+'/'
        list_of_files = sorted( filter( lambda x: os.path.isfile(os.path.join(Path, x)),
                                os.listdir(Path) ) )
        result_files = [pd.read_csv(Path+i) for i in list_of_files]
        means = np.array([np.mean(file["accuracy"]) for file in result_files])
        stds = np.array([np.std(file["accuracy"]) for file in result_files])
        best_df = result_files[np.argmax(means)].iloc[1]
        data_unit = [dataset,method,best_df['C'],best_df['gamma'],best_df['w'],False,np.max(means),stds[np.argmax(means)]]
        data.append(data_unit)

In [4]:
df = pd.DataFrame(data,columns=column_list)

In [5]:

df

    dataset method       C  gamma     w  sinkhorn       acc       std
0     MUTAG    HKS    10.0   1.00  0.30     False  0.898830  0.043922
1     MUTAG    WKS  1000.0   0.10  0.60     False  0.925146  0.036030
2    PTC_MR    HKS  1000.0   1.00  0.35     False  0.619244  0.045103
3    PTC_MR    WKS     1.0  10.00  0.60     False  0.665798  0.049955
4   ENZYMES    HKS   100.0   0.01  0.55     False  0.693333  0.050111
5   ENZYMES    WKS   100.0   0.01  0.55     False  0.693333  0.044845
6  PROTEINS    HKS    10.0   0.10  0.50     False  0.776939  0.032169
7  PROTEINS    WKS    10.0   0.10  0.40     False  0.751786  0.015323

In [ ]:
result_files[np.argmax(means)]

In [19]:
for v in result_files[np.argmax(means)].iloc[1]:
    print(v)
result_files[np.argmax(means)].iloc[1]['C']

fold_id1
0.6
1.0
10.0
0.6857142857142857

1.0

In [ ]:
# pd.DataFrame()
# dataset_list 
# df = pd.DataFrame(data,columns=['Site','Age'],dtype=float)